<!DOCTYPE html>

<html>
	<head>
		<title><%= title %></title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<script src="queries.js"></script>

	</head>
	<style>

		#header {
			margin: 20px;
		}

		#sidebar {

			position: absolute;
			top: 80px;
			width: 200px;
			z-index: 100;

		}

		#sidebar a {
			color: black;
		}

		.view {
			position: absolute;
			width: 100%;
			left: -100%;
			height: 100px;
			z-index: 1;
		}

		.content {
			padding-left: 200px;
		}

		.invisible {
			display: none;
		}

		#pageTable {
			width: 600px;
		}

	</style>
	<script>

		var currentPage;

		$( document ).ready( function() {
			selectAllViews( redrowViewTable );
			selectAllPages( redrowPageTable );
		});

		function redrowPageTable( pages) {

			var tableBody = $( '#pageTable' ).find( 'tbody' );
			for ( var i = 0; i < pages.length; i++ ) {
				tableBody.append('<tr><td>' + pages[i].name + '</td>' +
				                  '<td>' + pages[i].place + '</td>' +
				                  '<td>' + pages[i].view + '</td>' + 
				                  '<td>' + '<a href="admin_panel/page/' + pages[i]._id + '">Edit</a></td></tr>'
				);
			}
		}

		function redrowViewTable( views ) {

			var tableBody = $( '#viewTable' ).find( 'tbody' );
			tableBody.empty();
			for ( var i = 0; i < views.length; i++ ) {
				tableBody.append( '<tr><td>' + views[i].name + '</td>' +
				                  '<td>' + views[i].path + '</td>' + 
				                  '<td><a href="admin_panel/view/' + views[i].name + '"">Edit</a></td></tr>'
				);
			}

			
		}

		function showPage ( page ) {

			var time = 300;

			if ( currentPage != page ) {

				if ( currentPage ) {
					jQuery( currentPage ).animate(
						{
							left: "-100%"
						}, time, function() {
							jQuery( page ).animate( { left: 0 }, time );
						}
					);
				} else {
					jQuery( page ).animate( { left: 0 }, time );
				}

				currentPage = page;
			}
		}

		function hideObject( object ) {
			$( object ).addClass( 'invisible' );
		}

		function showObject( object ) {
			$( object ).removeClass( 'invisible' );
		}

		function savePage() {

			var pageName = $('#newPageRow').find( 'input[name="page-name"]' )[0].value;
			var pagePlace = $( '#newPageRow' ).find( 'input[name="page-place"]' )[0].value;
			var pageView = $( '#newPageRow' ).find( 'input[name="page-view"]' )[0].value;

			sendNewPage( pageName, pagePlace, pageView, function( res ) {
				console.log( res );
			});

			hideObject( '#newPageRow' ); 
			showObject( '#showNewPageRow' );
			event.preventDefault();
		}

		function saveView() {

			var viewName = $( '#newViewRow' ).find( 'input[name="view-name"]' )[0].value;
			var fileName = $( '#newViewRow' ).find( 'input[name="file-name"]' )[0].value;

			sendNewView( viewName, fileName, function( res ) {
				selectAllViews( redrowViewTable );
				console.log( res );
			});

			hideObject( '#newViewRow' ); 
			showObject( '#showNewViewRow' );
			event.preventDefault();
		}

		function showNewRow( showRow, hideRow ) {

			hideObject( hideRow ); 
			showObject( showRow );
			event.preventDefault();
		}

	</script>

	<body>
		<div id="header"><h2>Administration page</h2></div>

		<div id="sidebar">
			<ul>
				<li><a href="#" onclick="showPage('#managePages');">Manage Pages</a></li>
				<li><a href="#" onclick="showPage('#manageViews');">Manage Views</a></li>
				<li><a href="#" onclick="showPage('#globalVariables');">Global Variables</a></li>
			</ul>
		</div>

		<div id="managePages" class="view">
			<div class="content">
				Manage Pages
				<form>
					<table id="pageTable">
						<thead>
							<tr>
								<th>Name</th>
								<th>Place</th>
								<th>View</th>
								<th>Action</th>
							</tr>
						</thead>
						<tfoot>
							<tr id="showNewPageRow">
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td><button onclick="showNewRow( '#newPageRow', '#showNewPageRow' );">New Page</button></td>
							</tr>
							<tr id="newPageRow" class="invisible">
								<td><input name="page-name" type="text" placeholder="Name"/></td>
								<td><input name="page-place" type="text" placeholder="Place"/></td>
								<td><input name="page-view" type="text" placeholder="View"/></td>
								<td><input type="button" value="Save" onclick="savePage();"/></td>
							</tr>
						</tfoot>
						<tbody>
						</tbody>
					</table>
				</form>
			</div>
		</div>

		<div id="globalVariables" class="view">
			<div class="content">
				Global Variables
			</div>
		</div>

		<div id="manageViews" class="view">
			<div class="content">
				Manage Views
				<form>
					<table id="viewTable">
						<thead>
							<tr>
								<th>Name</th>
								<th>Path</th>
								<th>Action</th>
							</tr>
						</thead>
						<tfoot>
							<tr id="showNewViewRow">
								<td></td>
								<td></td>
								<td><button onclick="showNewRow( '#newViewRow', '#showNewViewRow' );">New Page</button></td>
							</tr>
							<tr id="newViewRow" class="invisible">
								<td><input name="view-name" type="text" placeholder="Name"/></td>
								<td><input name="file-name" type="text" placeholder="Path"/></td>
								<td><input type="button" value="Save" onclick="saveView();"/></td>
							</tr>
						</tfoot>
						<tbody>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</body>
</html>