<!DOCTYPE html>

<html>
	<head>
		<title><%= title %></title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<script src="../../queries.js"></script>

	</head>
	<style>

		.invisible {
			display: none;
		}

	</style>
	<script type="text/javascript">
	</script>

	<body>
		<%= 'ID: ' + page._id + ' Name: ' + page.name + ' View: ' + page.view + ' Place:' + page.place%>
	</body>
</html>